.header{
  background-color: #DD141D;
  height: 59px;
  text-align: center;
  padding: 10px;
}

.text-parr{
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 13px;
  color: white !important;
  width: 100%;
  float: left !important;
  margin-top: 5px;

}

.img-icon-black{
  width: 20% !important;
  margin-left: 35px;
  height: 30px !important;
  -webkit-filter: invert(100%);
    filter: invert(100%);
  float: left;
}

.arrow-img{
  width: 24% !important;
  height: 30px !important;
  -webkit-filter: invert(100%);
    filter: brightness(16.0);
  float: left;
  margin-top: 4px;
}
