
<section class="view1">
  <div>
    <img class="img" src="../../../../assets/images/Captura de Pantalla 2022-05-24 a la(s) 12.40.43 p.m.@2x.png" alt="">

  </div>
  <div class="container__form">

      <div>
        <h1 style="
        color: var(--negro);
        text-align: center;
        font: normal  bold 18px/24px Roboto Condensed;
        letter-spacing: 0px;
      color: #000000;
      opacity: 1;">Beneficios y características</h1>
        <ul class="view1__items">
          <li>
            <img src="../../../../assets/images/views/Grupo 18033.svg" alt="">
            <p>Genere ingresos realizando compras en la tienda virtual y reciba entre el 2% y el 4% en devolución de la compra.</p>
          </li>
          <li>
            <img src="../../../../assets/images/views/Grupo 19801.svg" alt="">
            <p>Aprenda cómo posicionar su negocio en nuestra escuela.</p>
          </li>
          <li>
            <img src="../../../../assets/images/views/IconoR_24Movimientos.svg" alt="">
            <p>Acceda a informes detallados de su botón de pagos.</p>
          </li>
          <li>
            <img src="../../../../assets/images/views/IconoR_16Cuanto debo.svg" alt="">
            <p>Obtenga estos beneficios de manera gratis y sin algún costo.</p>
          </li>
          <li>
            <input type="checkbox" id="activar">
            <label class="label1" for="activar">Autorizo el descuento por suscripción aceptando los Términos y Condiciones.</label>

          </li>
        </ul>

        <div class="view1__continue">
          <button  (click)="home()" class="button__continue" >Contratar</button>

        </div>

        </div>

      </div>

</section>



